{% extends 'base.html' %}
{% load static %}
{% block content %}
  <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
<div class="wrapper fadeInDown">
  <div id="formContent">
      <!-- Login Form -->
      <h1>Forgot Password?</h1>
    <form method="post">
      {% csrf_token %}
      <input type="text" class="fadeIn second" name="email" id="id_email" placeholder="Your email address">
<!--      <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">-->
      <input type="submit" class="fadeIn fourth" value="Submit">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      remember password?<a class="account" href="{% url 'login' %}">Login</a>
    </div>

  </div>
</div>
{% endblock %}