{% extends 'index.html' %}
{% load format %}
{% block content %}
<script type="text/javascript">
			$(document).ready(function() {
    				$('#example').DataTable();
<!--					$('.dataTables_paginate').prepend('<i class="fa fa-plus cursor" id="add-button" data-toggle="modal" data-target="#Add_Bin" aria-hidden="true">ADD</i>')-->
                    					$('.dataTables_paginate').prepend('<button class="btn pd" id="add-button" data-toggle="modal" data-target="#Add_Bin" aria-hidden="true">Add</Add></button>')
			} );

</script>


<table id="example" class="table table-bordered display" style="width:100%">
    <thead class="thead-dark">
    <tr>
        <th>Sl.No</th>
        <th>Accessory Name</th>
        <th>Item Code</th>
        <th>Models Associated</th>
        <th>Total Delivered</th>
        <th>Actions</th>
    </tr>
    </thead>
    {% if accessories %}
    <tbody>
    {% for item in accessories %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{item.name}}</td>
        <td>{{item.item_code}}</td>
        <td>{% for elem in item.model_names.all %}{{elem.model_name}}({{elem.count_delivered}}){% endfor %}</td>
        <td>{{ item.id|total_count }}</td>
        <td><i class="fa fa-pencil-square-o cursor" data-toggle="modal" data-target="#Edit_Bin{{item.id}}" aria-hidden="true"></i><i class="fa fa-trash m-l cursor" data-toggle="modal" data-target="#deleteProduct_{{item.id}}" aria-hidden="true"></i></i>
        </td>
        </a>
    </tr>

    {% empty %}
    </tbody>
    <tfoot>
    <tr>
        <th>Sl.No</th>
        <th>Accessory Name</th>
        <th>Item Code</th>
        <th>Models Associated</th>
        <th>Actions</th>
    </tr>
    </tfoot>
</table>
<p>No details are available.</p>

{% endfor %}


{% endif %}

<div id="Add_Bin" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Add Accessory</h3>
            </div>
            <div class="modal-body mdl-bdy">
                <form role="form" id="inventory1" action="">
                    {% csrf_token %}
                    <input type="hidden" name="_token" value="">
                    <div class="form-group">
                        <label class="control-label">Accessory Name</label>
                        <div>
                            <input type="text" class="form-control input-lg" name="name" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Item Code</label>
                        <div>
                            <input type="text" class="form-control input-lg" name="item_code" value="">
                        </div>
                    </div>
                    <h4>Models Associated</h4>
                    {% for model in models %}
                    <li>
                    <label style="word-wrap:break-word">
                    <input type="checkbox"  value="{{model.id}}" name="models">{{model.model_name}}
                    </label>
                    </li>
                    {% empty %}
                    <p>No models Added.Please Add Models by clicking <a class="heading" style="text-decoration:underline;" href="{% url 'models' %}">here</a></p>

                    {% endfor %}
                    <div class="form-group">
                        <div>
                            <button type="submit" class="btn clr">
                                Add
                            </button>
                            <button type="submit" class="btn clr" data-dismiss="modal">
                                Cancel
                            </button>
                        </div>
                    </div>
                    <div class="error1"></div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
{% for item in accessories %}
<div id="Edit_Bin{{item.id}}" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Edit Accessory</h3>
            </div>
            <div class="modal-body mdl-bdy">
                <form role="form" id="inventory2{{item.id}}" action="">
                    {% csrf_token %}
                    <input type="hidden" value="{{item.id}}" name="id">
                    <input type="hidden" name="_token" value="">
                    <div class="form-group">
                        <label class="control-label">Accessory Name</label>
                        <div>
                            <input type="text" class="form-control input-lg" name="name" value="{% if item.name %}{{item.name}}{% endif %}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Item Code</label>
                        <div>
                            <input type="text" class="form-control input-lg" name="item_code" value="{% if item.item_code %}{{item.item_code}}{% endif %}">
                        </div>
                    </div>
                    <h4>Models Associated</h4>
                    {% for model in models %}
                    <li>
                    <label style="word-wrap:break-word">
                    <input type="checkbox" {% if model in item.model_names.all %} checked {% endif %} class="" value="{{model.id}}" name="models">{{model.model_name}}
                    </label>
                    </li>
                    {% empty %}
                    <p>No models Added.Please Add Models by clicking <a class="heading" style="text-decoration:underline;" href="{% url 'models' %}">here</a></p>
                    {% endfor %}
                    <div class="form-group">
                        <div>
                            <button type="submit" class="btn clr">
                                Update
                            </button>
                            <button type="submit" class="btn clr" data-dismiss="modal">
                                Cancel
                            </button>
                        </div>
                    </div>
                    <div class="error1"></div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
{% endfor %}

{% for item in accessories %}
<div id="deleteProduct_{{item.id}}" class="modal fade">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header">
                <div class="icon-box">
                </div>
                <h4 class="modal-title">Are you sure?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <p>Do you really want to delete these product? This process cannot be undone.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn clr" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn clr" onclick="deleteProduct('{{item.id}}')">Delete</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<script>



$("#inventory1").submit(function(e) {
       e.preventDefault();
       var formData = new FormData(this);
       $.ajax({
       url : "{% url 'add-accessory' %}",
       type : "POST",
       data : formData,
       dataType:'json',
       contentType: false,
       processData: false,
           success : function(data) {
           console.log(data);
               if (data.result != "success")
                {
                 response = data.result;
                 $('.error1').html(response);
               }
               else{
               window.location.href = '{% url 'accessories' %}';
                   }

            },
           // handle a non-successful response
           error : function(xhr,errmsg,errors) {
           console.log(xhr.status + ": " + xhr.responseText);
           console.log(errors)// provide a bit more info about the error to the console
           }
       });
   });


function deleteProduct(id){
      try {
          var xhr = new XMLHttpRequest();
          xhr.onreadystatechange = function() {
               if (this.readyState == 4 && this.status == 200) {
                     location.reload();
              }
           };
          xhr.open('GET', "/delete-accessory/?id="+id, true);
          xhr.send()
       }
       catch(error) {
         alert(error);
       }

   }

{% for item in accessories %}
$("#inventory2{{item.id}}").submit(function(e) {
       e.preventDefault();
       var formData = new FormData(this);
       $.ajax({
       url : "{% url 'add-accessory' %}",
       type : "POST",
       data : formData,
       dataType:'json',
       contentType: false,
       processData: false,
           success : function(data) {
           console.log(data);
               if (data.result != "success")
                {
                 response = data.result;
                 $('.error').html(response);
               }
               else{
               window.location.href = '{% url 'accessories' %}';
                   }

            },
           // handle a non-successful response
           error : function(xhr,errmsg,errors) {
           console.log(xhr.status + ": " + xhr.responseText);
           console.log(errors)// provide a bit more info about the error to the console
           }
       });
   });

{% endfor %}






</script>

{% endblock %}
