{% extends 'base.html' %}
{% block content %}
	<script type="text/javascript">
			$(document).ready(function() {
    				$('#example').DataTable();
					$('.dataTables_paginate').prepend('<i class="fa fa-plus cursor" id="add-button" data-toggle="modal" data-target="#Add_Bin" aria-hidden="true">ADD</i>')

			} );
	</script>


	<table id="example" class="table table-bordered display" style="width:100%">
    		<thead class="thead-dark">
            		<tr>
                        <th>Sl.No</th>
				<th>Bin Name</th>
                        <th>Actions</th>
            		</tr>
        	</thead>
        	{% if items_list %}
        	<tbody>
    		{% for item in items_list %}
		<tr>
        		<td>{{forloop.counter}}</td><td>{{item.name}}</td><td><i class="fa fa-pencil-square-o cursor" data-toggle="modal" data-target="#Edit_Bin{{item.id}}" aria-hidden="true"></i><i class="fa fa-trash m-l cursor" data-toggle="modal" data-target="#deleteProduct_{{item.id}}" aria-hidden="true"></i></i>

</td></a>
	  	</tr>

	{% empty %}
		</tbody>
		<tfoot>
            		<tr>
                <th>Sl.No</th>
                <th>Bin Name</th>
                <th>Actions</th>
            		</tr>
        	</tfoot>
	</table>
    		<p>No details are available.</p>

{% endfor %}


	{% endif %}

            <div id="Add_Bin" class="modal fade">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title">ADD BIN</h3>
                        </div>
                        <div class="modal-body">
                                          <form role="form" id="inventory1" action="">
                                              {% csrf_token %}
                                <input type="hidden" name="_token" value="">
                                <div class="form-group">
                                    <label class="control-label">name</label>
                                    <div>
                                        <input type="text" class="form-control input-lg" name="bin_name" value="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div>
                                        <button type="submit" class="btn btn-success">
                                            ADD
                                        </button>
                                        <button type="submit" class="btn btn-success" data-dismiss="modal">
                                            cancel
                                        </button>
                                    </div>
                                </div>
                                              <div class="error"></div>
                            </form>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div>
{% for item in items_list %}

	<div id="Edit_Bin{{item.id}}" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">EDIT BIN</h3>
            </div>
            <div class="modal-body">
				              <form role="form" id="inventory2{{item.id}}" action="">
								  {% csrf_token %}
                                  <input type="hidden" value="{{item.id}}" name="id">
                    <input type="hidden" name="_token" value="">
                    <div class="form-group">
                        <label class="control-label">Name</label>
                        <div>
                            <input type="text" class="form-control input-lg" name="bin_name" value="{% if item.name %}{{item.name}}{% endif %}">
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <button type="submit" class="btn clr">
                                UPDATE
                            </button>
                            <button type="submit" class="btn btn-success" data-dismiss="modal">
                                            cancel
                            </button>
                        </div>
                    </div>
								  <div class="error"></div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
{% endfor %}

{% for item in items_list %}
<div id="deleteProduct_{{item.id}}" class="modal fade">
	<div class="modal-dialog modal-confirm">
		<div class="modal-content">
			<div class="modal-header">
				<div class="icon-box">
				</div>
				<h4 class="modal-title">Are you sure?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body">
				<p>Do you really want to delete these product? This process cannot be undone.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-danger" onclick="deleteProduct('{{item.id}}')">Delete</button>
			</div>
		</div>
	</div>
</div>
{% endfor %}

<script>



$("#inventory1").submit(function(e) {
       e.preventDefault();
       var formData = new FormData(this);
       $.ajax({
       url : "{% url 'add-bin' %}",
       type : "POST",
       data : formData,
       dataType:'json',
       contentType: false,
       processData: false,
           success : function(data) {
           console.log(data);
               if (data.result != "success")
                {
                 response = data.result;
                 $('.error').html(response);
               }
               else{
               window.location.href = '{% url 'bin' %}';
                   }

            },
           // handle a non-successful response
           error : function(xhr,errmsg,errors) {
           console.log(xhr.status + ": " + xhr.responseText);
           console.log(errors)// provide a bit more info about the error to the console
           }
       });
   });


function deleteProduct(id){
      try {
          var xhr = new XMLHttpRequest();
          xhr.onreadystatechange = function() {
               if (this.readyState == 4 && this.status == 200) {
                     location.reload();
              }
           };
          xhr.open('GET', "/delete-bin/?id="+id, true);
          xhr.send()
       }
       catch(error) {
         alert(error);
       }

   }

{% for item in items_list %}
$("#inventory2{{item.id}}").submit(function(e) {
       e.preventDefault();
       var formData = new FormData(this);
       $.ajax({
       url : "{% url 'add-bin' %}",
       type : "POST",
       data : formData,
       dataType:'json',
       contentType: false,
       processData: false,
           success : function(data) {
           console.log(data);
               if (data.result != "success")
                {
                 response = data.result;
                 $('.error').html(response);
               }
               else{
               window.location.href = '{% url 'bin' %}';
                   }

            },
           // handle a non-successful response
           error : function(xhr,errmsg,errors) {
           console.log(xhr.status + ": " + xhr.responseText);
           console.log(errors)// provide a bit more info about the error to the console
           }
       });
   });

{% endfor %}





</script>

{% endblock %}
