{% load static %}
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>UST R&D</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/css/bootstrap-multiselect.css">

    <script type="text/javascript" src="{% static 'jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'DataTables/datatables.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/js/bootstrap-multiselect.min.js"></script>


    <link rel="stylesheet" type="text/css" href="{% static 'DataTables/datatables.css' %}"/>
    <script type="text/javascript" charset="utf8" src="{% static 'js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/components.css' %}">
    <link rel="stylesheet" href="{% static 'css/icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsee.css' %}">
    <link rel="stylesheet" href="{% static 'owl-carousel/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'owl-carousel/owl.theme.css' %}">
    <!-- CUSTOM STYLE -->
    <link rel="stylesheet" href="{% static 'css/template-style.css' %}">
    <!--      <script type="text/javascript" src="{% static 'js/jquery-1.8.3.min.js' %}"></script>-->

    <!--      <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>-->
    <script type="text/javascript" src="{% static 'js/validation.js' %}"></script>
    <!--<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>-->
</head>

<body class="">
<!-- HEADER -->
<header class="grid">
    <!-- Top Navigation -->
    <nav class="s-12 grid">
        <!-- logo -->
        <a href="{% url 'dashboard' %}" class="m-12 l-1 padding">
            <img class="" src="{% static 'images/logo.png' %}">
        </a>
        <div class="top-nav s-12 l-11 ul-color">
            <ul class="top-ul chevron">
                <div class="">
                <li class=""><a href="{% url 'projects' %}">Projects</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Models And Accessories</a>
                    <ul class="dropdown-menu menus">
                    <li class="">
                    <a href="{% url 'models' %}">Models</a>
                    </li>
                    <li class="">
                    <a href="{% url 'accessories' %}">Accessories</a>
<!--                        <ul class="dropdown-menu menus">-->
<!--                         {% for item in accessories %}-->
<!--                            <li><a href="{% url 'accessory-detail' item.id %}">{{item.name}}</a></li>-->
<!--                            {% endfor %}-->
<!--                            <li><a href="{% url 'accessories' %}">Add Accessory</a></li>-->
<!--                        </ul>-->
                    </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Production</a>
                    <ul class="dropdown-menu menus">
                        {% for project in projects %}
                        <li><a href="{% url 'project' project.id %}">{{project.name}}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Inventory</a>
                        <ul class="dropdown-menu menus">
<!--                            <li><a href="{% url 'product-in' %}">Add/Remove Items</a></li>-->
                            <li><a href="{% url 'purchase-request' %}">Request Inventory Purchase</a></li>
                            <li><a href="{% url 'product-purchased' %}">Purchased Items</a></li>
                            <li><a href="{% url 'product-out' %}">Allocated Items</a></li>
                            <li><a href="{% url 'returned' %}">Return Item</a></li>
                            <li><a href="{% url 'overall' %}">Overall Items</a></li>
                            <li><a href="{% url 'shelves' %}">Shelves</a></li>
                            <li><a href="{% url 'boxes' %}">Boxes</a></li>
                            <li><a href="{% url 'holes' %}">Inner holes</a></li>

                        </ul>
                    </li>
                </div>
                {% if request.user.is_authenticated %}
                <button class="fl-right logout btn pd"><a href="{% url 'logout' %}">Logout</a></button>
                {% endif %}

            </ul>

            <!--                <li><a>Contact</a></li>-->
            </ul>
        </div>
    </nav>
</header>

<!-- MAIN -->
<main role="main" id="main">

    {% block content%}
    {% endblock %}

    <!-- TOP SECTION -->

    <!-- SECTION 2 -->

</main>


<!-- FOOTER -->
<!--      <footer class="grid box">-->
<!--        <div class="s-12 text-center margin-bottom">-->
<!--          <p>Copyright 2020,UST Global</p>-->
<!--&lt;!&ndash;          <p>All images have been purchased from Bigstock. Do not use the images in your website.</p>&ndash;&gt;-->
<!--&lt;!&ndash;          <p><a href="http://www.myresponsee.com" title="Responsee - lightweight responsive framework">Design and coding by Responsee Team</a></p>&ndash;&gt;-->
<!--        </div>-->
<!--      </footer>-->
<script type="text/javascript" src="{% static 'js/responsee.js' %}"></script>
<script type="text/javascript" src="{% static 'owl-carousel/owl.carousel.js' %}"></script>
<script type="text/javascript">
        jQuery(document).ready(function($) {
          var owl = $('#header-carousel');
          owl.owlCarousel({
            nav: true,
            dots: true,
            items: 1,
            loop: true,
            navText: ["&#xf007","&#xf006"],
            autoplay: true,
            autoplayTimeout: 3000
          });
          var owl = $('#gallery-carousel');
          owl.owlCarousel({
            nav: false,
            dots: true,
            loop: true,
            navText: ["&#xf007","&#xf006"],
            autoplay: true,
            autoplayTimeout: 3000,
            responsive: {
              0: {
                items: 1
              },
              769: {
                items: 2
              },
              960: {
                items: 4
              }
            }
          });
        })

        $('ul.nav li.dropdown').hover(function() {
  $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
}, function() {
  $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
});

</script>

</body>
</html>