{% extends 'index.html' %}
{% load static %}
{% block content %}
        <caption><h3 class="header_text">Add/Remove Items</h3></caption>
    <table id="example" class="table table-bordered display" style="width:100%">
        <thead class="thead-dark">
        <tr>
            <th>SL.NO</th>
            <th>Item Name</th>
            <th>Item Description</th>
<!--            <th>Count</th>-->
<!--            <th>Bin</th>-->
            {% if request.user.is_superuser %}
            <th>Actions</th>
            {% endif %}
        </tr>
        </thead>
        {% if items_list %}
        <tbody>
        {% for item in items_list %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{ item.part_name }}</td>
            <td>{{ item.part_description }}{% if item.stk_product_in%}&{{item.stk_product_in}}{% endif %}</td>
<!--            <td>{{ item.count }}</td>-->
<!--            <td>{{item.bin_in_location.name}}</td>-->
            {% if request.user.is_superuser %}
            <td><i class="fa fa-pencil-square-o cursor" data-toggle="modal" data-target="#Edit_Product_In_{{item.id}}" aria-hidden="true"></i><i class="fa fa-trash m-l cursor" data-toggle="modal" data-target="#deleteProduct_{{item.id}}" aria-hidden="true"></i></i>
            </td>
            {% endif %}</a>
        </tr>

        {% empty %}
        </tbody>
        <tfoot>
        <tr>
            <th>Sl.No</th>
            <th>Item Name</th>
            <th>Item Description</th>
<!--            <th>Count</th>-->
<!--            <th>Bin</th>-->
            <th>Actions</th>
        </tr>
        </tfoot>
    </table>
    <p>No details are available.</p>

    {% endfor %}


    {% endif %}
<div id="Add_Product_In" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Add Item</h3>
            </div>
            <div class="modal-body mdl-bdy">
                <form role="form" id="inventory1" action="">
                    {% csrf_token %}
                    <input type="hidden" name="_token" value="">
                    <div class="form-group">
                        <label class="control-label">Item Name</label>
                        <div>
                            <input type="text" class="form-control input-lg" name="part_name" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Item Description</label>
                        <div>
                            <input type="text" class="form-control input-lg" name="part_description" value="">
                        </div>
                    </div>
<!--                    <div class="form-group">-->
<!--                        <label class="control-label">Count</label>-->
<!--                        <div>-->
<!--                            <input type="number" class="form-control input-lg" name="count">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <label class="control-label">Bin</label>-->
<!--                        <div>-->
<!--                            <select name="bin_location">-->
<!--                                <option disabled selected value> &#45;&#45; select a bin &#45;&#45;</option>-->

<!--                                {% for item in bin_locations %}-->
<!--                                <option value="{{item.name}}">{{item.name}}</option>-->
<!--                                {% endfor %}-->
<!--                            </select>-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="form-group">
                        <label class="control-label">Remarks</label>
                        <div>
                            <textarea class="form-control input-lg" name="remarks"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <button type="submit" class="btn clr" onclick="FadeinLoad();">
                                ADD
                            </button>
                            <button type="submit" class="btn clr" data-dismiss="modal">
                                CANCEL
                            </button>
                        </div>
                    </div>
                    <div class="error1"></div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
{% for item in items_list %}

<div id="Edit_Product_In_{{item.id}}" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">EDIT INVENTORY IN</h3>
            </div>
            <div class="modal-body mdl-bdy">
                <form role="form" id="inventory2{{item.id}}" action="">
                    {% csrf_token %}
                    <input type="hidden" value="{{item.id}}" name="id">
                    <input type="hidden" value="{{item.part_name}}" name="old_part_name">
                    <div class="form-group">
                        <label class="control-label">Item Name</label>
                        <div>
                            <input type="text" class="form-control input-lg" name="part_name"
                                   value="{% if item.part_name %}{{item.part_name}}{% endif %}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Item Description</label>
                        <div>
                            <input type="text" class="form-control input-lg" name="part_description"
                                   value="{% if item.part_description %}{{item.part_description}}{% endif %}">
                        </div>
                    </div>
<!--                    <div class="form-group">-->
<!--                        <label class="control-label">Bin</label>-->
<!--                        <div>-->
<!--                            <select name="bin_location">-->
<!--                                <option disabled selected value> &#45;&#45; select a bin &#45;&#45;</option>-->
<!--                                {% for bin in bin_locations %}-->
<!--                                <option value="{{bin.name}}" {% if bin.name == item.bin_in_location.name %}selected {% endif %}>{{bin.name}}-->
<!--                                </option>-->
<!--                                {% endfor %}-->
<!--                            </select>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <label class="control-label">Count</label>-->
<!--                        <div>-->
<!--                            <input type="text" class="form-control input-lg" name="count" value="{% if item.count %}{{item.count}}{% endif %}">-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="form-group">
                        <div>
                            <button type="submit" class="btn clr">
                                UPDATE
                            </button>
                            <button type="submit" class="btn clr" data-dismiss="modal">
                                CANCEL
                            </button>
                        </div>
                    </div>
                    <div class="error2"></div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
{% endfor %}

{% for item in items_list %}
<div id="deleteProduct_{{item.id}}" class="modal fade">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header">
                <div class="icon-box">
                </div>
                <h4 class="modal-title">Are you sure?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <p>Do you really want to delete these product? This process cannot be undone.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" onclick="deleteProduct('{{item.id}}')">Delete</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<script type="text/javascript">
			$(document).ready(function() {
    				$('#example').DataTable({
        "aLengthMenu": [[25, 50, 75, -1], [25, 50, 75, "All"]],
        "iDisplayLength": 25
    });         {% if request.user.is_superuser %}
					$('.dataTables_paginate').prepend('<button class="btn pd" id="add-button" data-toggle="modal" data-target="#Add_Product_In" aria-hidden="true">Add</Add></button>')
                    $('.dataTables_info').prepend('<a href="{% url 'export_product_in_xls' %}"><button id="export" class="btn cursor  export" >Export</button></a>')
                {% endif %}
			} );

</script>
<!--<footer class="grid box">-->
<!--        <div class="s-12 text-center margin-bottom">-->
<!--          <p>Copyright 2020,UST Global</p>-->
<!--&lt;!&ndash;          <p>All images have been purchased from Bigstock. Do not use the images in your website.</p>&ndash;&gt;-->
<!--&lt;!&ndash;          <p><a href="http://www.myresponsee.com" title="Responsee - lightweight responsive framework">Design and coding by Responsee Team</a></p>&ndash;&gt;-->
<!--        </div>-->
<!--      </footer>-->
<script>

$(".paginate_button").addClass("btn");
$("#inventory1").submit(function(e) {
       e.preventDefault();
       var formData = new FormData(this);
       $.ajax({
       url : "{% url 'add-product-in' %}",
       type : "POST",
       data : formData,
       dataType:'json',
       contentType: false,
       processData: false,
           success : function(data) {
           console.log(data);
               if (data.result != "success")
                {
                 response = data.result;
                 $('.error1').html(response);
                    $('#load').fadeOut();

               }
               else{
               window.location.href = '{% url 'product-in' %}';
                $('#load').fadeOut();
                   }
            },
           // handle a non-successful response
           error : function(xhr,errmsg,errors) {
           console.log(xhr.status + ": " + xhr.responseText);
           console.log(errors)// provide a bit more info about the error to the console
           }
       });
   });


function deleteProduct(id){
      try {
          var xhr = new XMLHttpRequest();
          xhr.onreadystatechange = function() {
               if (this.readyState == 4 && this.status == 200) {
                     location.reload();
              }
           };
          xhr.open('GET', "/delete-product-in/?id="+id, true);
          xhr.send()
       }
       catch(error) {
         alert(error);
       }

   }


{% for item in items_list %}
$("#inventory2{{item.id}}").submit(function(e) {
       e.preventDefault();
       var formData = new FormData(this);
       $.ajax({
       url : "{% url 'add-product-in' %}",
       type : "POST",
       data : formData,
       dataType:'json',
       contentType: false,
       processData: false,
           success : function(data) {
           console.log(data);
               if (data.result != "success")
                {
                 response = data.result;
                 $('.error2').html(response);
               }
               else{
               window.location.href = '{% url 'product-in' %}';
                   }

            },
           // handle a non-successful response
           error : function(xhr,errmsg,errors) {
           console.log(xhr.status + ": " + xhr.responseText);
           console.log(errors)// provide a bit more info about the error to the console
           }
       });
   });

{% endfor %}







</script>

{% endblock %}
