{% extends 'index.html' %}
{% load format %}
{% load static %}
{% block content %}
	<script type="text/javascript">
			$(document).ready(function() {
    				$('#example').DataTable({
        "aLengthMenu": [[25, 50, 75, -1], [25, 50, 75, "All"]],
        "iDisplayLength": 25
    });

					$('.dataTables_paginate').prepend('<button class="btn pd" id="add-button" data-toggle="modal" data-target="#Add_Purchase_Request" aria-hidden="true">Add</Add></button>')
					{% if request.user.is_superuser %}
                    $('.dataTables_info').prepend('<a href="{% url 'export_purchase_request_xls' %}"><button id="export" class="btn cursor export" >Export</button></a>')
            {% endif %}
			} );
	</script>
                    <caption><h3 class="header_text m-top">Purchase Request</h3></caption>

	<table id="example" class="table table-bordered display" style="width:100%">
    		<thead class="thead-dark">
            		<tr>
                        <th>SL.NO</th>
				<th>Item Name</th>
				<th>Item Description</th>
				<th>Count</th>
				<th>Requested On</th>
                <th>Requested By</th>
                <th>Request No</th>
                <th>Age</th>
                <th>Project</th>
                <th>Status</th>
            		</tr>
        	</thead>
        	{% if items_list %}
        	<tbody>
    		{% for item in items_list %}
		<tr>
            <td>{{forloop.counter}}</td>
            <td>{{ item.part_name }}</td>
            <td>{% if item.part_description %}{{ item.part_description }}{% endif %}{% if item.stk_product_out %}&{{item.stk_product_out}}{% endif %}</td>
            <td>{% if item.count %}{{ item.count }}{% endif %}</td>
            <td>{% if item.requested_on %}{{ item.requested_on }}{% endif %}</td>
            <td>{% if item.requested_by %}{{ item.requested_by }}{% endif %}</td>
            <td>{% if item.request_number %}PR-{{ item.request_number|stringformat:"04d" }}{% endif %}</td>
            <td>{% if item.requested_on %}{{ item.requested_on|date_format }}{% endif %}</td>
            <td>{% if item.project %}{{ item.project }}{% endif %}</td>
            {% if request.user.is_superuser %}
            <td><form id="status_{{item.id}}"><input type="hidden" value="{{item.id}}" name="id" >{% csrf_token %}<select name="status" id="id_status{{item.id}}">{% for choice in choices %}<option value="{{choice.0}}" {% if item.status == choice.0%} selected {% endif %}>{{choice.1}}</option>{% endfor %}</select></form></td>
            {% else %}
            <td>{% if item.status %}{{item.get_status_display}}{% endif %}</td>
            {% endif %}

	  	</tr>
	{% empty %}
		</tbody>
		<tfoot>
                <tr>
                <th>SL.NO</th>
				<th>Item Name</th>
				<th>Item Description</th>
				<th>Count</th>
				<th>Date</th>
                <th>User Email</th>
                <th>Order No</th>
                <th>Age</th>
                <th>Project</th>
                <th>Status</th>
                </tr>
        	</tfoot>
	</table>
    		<p>No details are available.</p>

{% endfor %}

	{% endif %}

	<div id="Add_Purchase_Request" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Request Inventory</h3>
            </div>
            <div class="modal-body mdl-bdy">
				              <form role="form" id="inventory1" action="">
								  {% csrf_token %}
                     <div class="form-group">
                        <label class="control-label">Item Name</label>
                        <div>
                            <input type="text" class="form-control input-lg" name="part_name" id="part_name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Item Description</label>
                        <div>
                            <input type="text" class="form-control input-lg" name="part_description" value="" id="part_description">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Required Count</label>
                        <div>
                            <input type="number" class="form-control input-lg" name="count" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Your Email</label>
                        <div>
                            <input type="text" class="form-control input-lg" name="email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Required to Project</label>
                        <div>
                            <select class="form-control input-lg" name="project">
                                <option disabled selected value> -- select a project --</option>
                                {% for project in projects %}
                                <option value="{{project.id}}" value="{{project.name}}" {% if project.name == item.project.name %}selected {% endif %}>{{project.name}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Purchaser</label>
                        <select name="purchaser" class="form-control input-lg">
                            {% for person in persons %}
                            <option value="{{person.email}}">{{person.first_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <div>
                            <button  class="btn clr" type="submit" onclick="FadeinLoad()">
                                Place Request
                            </button>
                             <button  class="btn clr" data-dismiss="modal">
                                Cancel
                            </button>
                        </div>
                    </div>
								  <div class="error1"></div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>


<!--{% for item in items_list %}-->
<!--        <div id="Edit_Purchase_Request{{item.id}}" class="modal fade">-->
<!--    <div class="modal-dialog" role="document">-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-header">-->
<!--                <h3 class="modal-title">EDIT PURCHASE REQUEST</h3>-->
<!--            </div>-->
<!--            <div class="modal-body">-->
<!--				              <form role="form" id="inventory2" action="">-->
<!--								  {% csrf_token %}-->
<!--                     <div class="form-group">-->
<!--                        <label class="control-label">Item Name</label>-->
<!--                        <div>-->
<!--                            <input type="text" class="form-control input-lg" name="part_name" value="{{item.part_name}}" disabled>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <label class="control-label">Item Description</label>-->
<!--                        <div>-->
<!--                            <input type="text" class="form-control input-lg" name="part_description" value="{{item.part_description}}" disabled>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <label class="control-label">Required Count</label>-->
<!--                        <div>-->
<!--                            <input type="number" class="form-control input-lg" name="count" value="{{item.count}}" disabled>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <label class="control-label">Email</label>-->
<!--                        <div>-->
<!--                            <input type="text" class="form-control input-lg" name="email">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <label class="control-label">Project</label>-->
<!--                        <div>-->
<!--                            <input type="text" class="form-control input-lg" name="project">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <div>-->
<!--                            <button data-toggle="modal" data-target="#confirm_submission" aria-hidden="true" class="btn clr" onclick="hide()">-->
<!--                                PLACE REQUEST-->
<!--                            </button>-->
<!--                             <button  class="btn clr" data-dismiss="modal">-->
<!--                                CANCEL-->
<!--                            </button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--								  <div class="error1"></div>-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>&lt;!&ndash; /.modal-content &ndash;&gt;-->
<!--    </div>&lt;!&ndash; /.modal-dialog &ndash;&gt;-->
<!--</div>-->
<!--{% endfor %}-->
<!--<div id="confirm_submission" class="modal fade">-->
<!--	<div class="modal-dialog modal-confirm">-->
<!--		<div class="modal-content">-->
<!--			<div class="modal-header">-->
<!--				<div class="icon-box">-->
<!--				</div>-->
<!--				<h4 class="modal-title">Are you sure?</h4>-->
<!--                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
<!--			</div>-->
<!--			<div class="modal-body">-->
<!--				<p>Request Once Placed Cannot be edited.Do you want to continue?</p>-->
<!--			</div>-->
<!--			<div class="modal-footer">-->
<!--				<button type="button" class="btn btn-info" data-dismiss="modal">CANCEL</button>-->
<!--				<button type="button" class="btn btn-danger" onclick="submit_form()">YES</button>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
<!--</div>-->

{% for item in items_list %}
<div id="deleteProduct_{{item.id}}" class="modal fade">
	<div class="modal-dialog modal-confirm">
		<div class="modal-content">
			<div class="modal-header">
				<div class="icon-box">
				</div>
				<h4 class="modal-title">Are you sure?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body">
				<p>Do you really want to delete these request? This process cannot be undone.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-info" data-dismiss="modal" id="cancel">Cancel</button>
				<button type="button" class="btn btn-danger" onclick="deleteProduct('{{item.id}}')">Delete</button>
			</div>
		</div>
	</div>
</div>

{% endfor %}


<script>
$("#inventory1").submit(function(e) {

       e.preventDefault();
       var formData = new FormData(this);
       $.ajax({
       url : "{% url 'add-purchase-request' %}",
       type : "POST",
       data : formData,
       dataType:'json',
       contentType: false,
       processData: false,
           success : function(data) {
           console.log(data);
               if (data.result != "success")
                {
                 response = data.result;
                 $('.error1').html(response);
               }

               else{
               window.location.href = '{% url 'purchase-request' %}';
                   }

            },
           // handle a non-successful response
           error : function(xhr,errmsg,errors) {
           console.log(xhr.status + ": " + xhr.responseText);
           console.log(errors)// provide a bit more info about the error to the console
           }
       });
   });

{% for item in items_list %}
$('#id_status{{item.id}}').change(
    function(){
         $('#status_{{item.id}}').submit();
    });
{% endfor %}

{% for item in items_list %}
$("#status_{{item.id}}").submit(function(e) {
       e.preventDefault();
       var formData = new FormData(this);
       $.ajax({
       url : "{% url 'change-status' %}",
       type : "POST",
       data : formData,
       dataType:'json',
       contentType: false,
       processData: false,
           success : function(data) {
           console.log(data);
               if (data.result != "success")
                {

               }
               else{
<!--               window.location.href = '{% url 'purchase-request' %}';-->
                   }

            },
           // handle a non-successful response
           error : function(xhr,errmsg,errors) {
           console.log(xhr.status + ": " + xhr.responseText);
           console.log(errors)// provide a bit more info about the error to the console
           }
       });
   });
{% endfor %}


function deleteProduct(id){
      try {
          var xhr = new XMLHttpRequest();
          xhr.onreadystatechange = function() {
               if (this.readyState == 4 && this.status == 200) {
                     location.reload();
              }
           };
          xhr.open('GET', "/delete-product-out/?id="+id, true);
          xhr.send()
       }
       catch(error) {
         alert(error);
       }

   }

<!--{% for item in items_list %}-->
<!--$("#inventory2{{item.id}}").submit(function(e) {-->
<!--       e.preventDefault();-->
<!--       var formData = new FormData(this);-->
<!--       $.ajax({-->
<!--       url : "{% url 'add-product-out' %}",-->
<!--       type : "POST",-->
<!--       data : formData,-->
<!--       dataType:'json',-->
<!--       contentType: false,-->
<!--       processData: false,-->
<!--           success : function(data) {-->
<!--           console.log(data);-->
<!--               if (data.result != "success")-->
<!--                {-->
<!--                 response = data.result;-->
<!--                 $('.error2').html(response);-->
<!--               }-->
<!--               else{-->
<!--               window.location.href = '{% url 'product-out' %}';-->
<!--                   }-->

<!--            },-->
<!--           // handle a non-successful response-->
<!--           error : function(xhr,errmsg,errors) {-->
<!--           console.log(xhr.status + ": " + xhr.responseText);-->
<!--           console.log(errors)// provide a bit more info about the error to the console-->
<!--           }-->
<!--       });-->
<!--   });-->

<!--{% endfor %}-->

function fill()
{
    var input = $("#part_name").val();

    {% for item in overall %}
    if ('{{item.part_name}}' == input)
    {
    $("#total_count").val('{{item.total_count}}');
    $("#part_description").val('{{item.part_description}}')
    $("#available").removeClass('hidden');
    return;
    }
    else{
        $("#available").addClass('hidden');
        }
    {% endfor %}

}
<!--function submit_form(){-->
<!--$('#inventory1').submit();-->
<!--}-->

<!--function hide(){-->
<!--$("#Add_Purchase_Request").addClass("hidden");-->
<!--}-->

<!--  $('#confirm_submission').on('hidden.bs.modal', function () {-->
<!--        $("#Add-Purchase-Request").removeClass("hidden");-->
<!--        })-->





$(document).on('hidden.bs.modal', function (event) {
  if ($('.modal:visible').length) {
    $('body').addClass('modal-open');
  }
});


</script>

{% endblock %}
