{% extends 'index.html' %}
{% load static %}
{% block content %}
    <caption><h3 class="header_text">Allocated Items</h3></caption>
<table id="example" class="table table-bordered display" style="width:100%">
    		<thead class="thead-dark">
            		<tr>
                        <th>SL.NO</th>
				<th>Item Name</th>
				<th>Item Description</th>
				<th>Count Allocated</th>
				<th>Count Returned</th>
				<th>Recieved Team</th>
				<th>Recieved Person</th>
                <th>Recieved Date</th>
                <th>Project</th>
                {% if request.user.is_superuser %}
                <th>Actions</th>
                {% endif %}
                </tr>
        	</thead>
        	{% if items_list %}
        	<tbody>
    		{% for item in items_list %}
		<tr>
        		<td>{{forloop.counter}}</td><td>{{ item.part_name }}</td><td>{% if item.part_description %}{{ item.part_description }}{% endif %}{% if item.stk_product_out %}&{{item.stk_product_out}}{% endif %}</td><td>{% if item.count %}{{ item.count }}{% else %}0{% endif %}</td><td>{% for iter in item.product_out.all %}{{iter.count_returned}}{% empty %}0{% endfor %}</td><td>{% if item.team.name %}{{ item.team.name }}{% endif %}</td><td>{{ item.person.first_name }}</td><td>{% if item.recieved_date %}{{ item.recieved_date }}{% endif %}</td><td>{% if item.project.name %}{{ item.project.name }}{% endif %}</td>{% if request.user.is_superuser %}<td><i class="fa fa-pencil-square-o cursor" data-toggle="modal" data-target="#Edit_Product_Out_{{item.id}}" aria-hidden="true"></i><i class="fa fa-trash m-l cursor" data-toggle="modal" data-target="#deleteProduct_{{item.id}}" aria-hidden="true"></i></i>

</td>{% endif %}</a>
	  	</tr>

	{% empty %}
		</tbody>
		<tfoot>
            		<tr>
                        <th>SL.NO</th>
				<th>Part Number</th>
				<th>Item Name</th>
				<th>Item Description</th>
				<th>Count</th>
                <th>Recieved Team</th>
                <th>Recieved Person</th>
                <th>Recieved Date</th>
                <th>Project</th>
                {% if request.user.is_superuser %}
                <th>Actions</th>
                {% endif %}
            		</tr>
        	</tfoot>
	</table>
    		<p>No details are available.</p>

{% endfor %}


	{% endif %}

	<div id="Add_Product_Out" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Transfer Inventory</h3>
            </div>
            <div class="modal-body mdl-bdy">
				              <form role="form" id="inventory1" action="">
								  {% csrf_token %}
                     <div class="form-group">
                        <label class="control-label">Item Name</label>
                        <div>
                            <input type="text" class="form-control input-lg" name="part_name" id="part_name" onblur="fill()">
                        </div>
                    </div>
<!--                    <div class="form-group">-->
<!--                        <label class="control-label">Item Description</label>-->
<!--                        <div>-->
<!--                            <input type="text" class="form-control input-lg" name="part_description" value="" id="part_description">-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="form-group">
                        <label class="control-label">Item Description</label>
                        <div>
                            <input type="text" class="form-control input-lg" name="part_description" id="part_description" list="item_descriptions" onchange="complete()">
<!--                                <option disabled selected value> &#45;&#45; select a description &#45;&#45;</option>-->
                            <datalist id="item_descriptions">
                                {% for description in item_descriptions %}
                                <option value="{{description.part_description}}">{{description.part_description}}</option>
                                {% endfor %}
                            </datalist>
                        </div>
                    </div>
                     <div class="form-group hidden" id="available">
                        <label class="control-label">Available Count</label>
                        <div>
                            <input type="number" class="form-control input-lg" name="available_count" id="total_count" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Transfer Count</label>
                        <div>
                            <input type="number" class="form-control input-lg" name="count" >
                        </div>
                    </div>
<!--                    <div class="form-group">-->
<!--                        <label class="control-label">Transfer to Team</label>-->
<!--                        <div>-->
<!--                            <input type="text" class="form-control input-lg" name="recieved_by">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <label class="control-label">Transferred On</label>-->
<!--                        <div>-->
<!--                            <input type="date" value="{{today | date:'Y-m-d' }}" class="form-control input-lg" name="recieved_date">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <label class="control-label">Transfer to Project</label>-->
<!--                        <div>-->
<!--                            <input type="text" class="form-control input-lg" name="project">-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="form-group">
                        <label class="control-label">Transfer to Project</label>
                        <div>
                            <select class="form-control input-lg" name="project">
                                <option disabled selected value> -- select a project --</option>
                                {% for project in projects %}
                                <option value="{{project.id}}">{{project.name}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Transfer to Team</label>
                        <div>
                            <select class="form-control input-lg" id="team_name" name="team" onchange="dropdown()">
                                <option disabled selected value> -- select a team --</option>
                                {% for team in teams %}
                                <option value="{{team.name}}">{{team.name}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group mechanical hidden">
                        <label class="control-label">Transfer to Person</label>
                        <div>
                            <select class="form-control input-lg" name="person">
                                <option disabled selected value> -- select person --</option>
                                {% for user in mechanical_users %}
                                <option value="{{user.id}}">{{user.first_name}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group electronics hidden">
                        <label class="control-label">Transfer to Person</label>
                        <div>
                            <select class="form-control input-lg" name="person">
                                <option disabled selected value> -- select person --</option>
                                {% for user in electronics_users %}
                                <option value="{{user.id}}">{{user.first_name}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group software hidden">
                        <label class="control-label">Transfer to Person</label>
                        <div>
                            <select class="form-control input-lg" name="person">
                                <option disabled selected value> -- select person --</option>
                                {% for user in software_users %}
                                <option value="{{user.id}}">{{user.first_name}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group production hidden">
                        <label class="control-label">Transfer to Person</label>
                        <div>
                            <select class="form-control input-lg" name="person">
                                <option disabled selected value> -- select person --</option>
                                {% for user in production_users %}
                                <option value="{{user.id}}">{{user.first_name}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Transferred On</label>
                        <div>
                            <input type="date" value="{{today | date:'Y-m-d' }}" class="form-control input-lg" name="recieved_date">
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <button type="submit" class="btn clr">
                                ADD
                            </button>
                             <button type="submit" class="btn clr" data-dismiss="modal">
                                CANCEL
                            </button>
                        </div>
                    </div>
								  <div class="error1"></div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
{% for item in items_list %}

	<div id="Edit_Product_Out_{{item.id}}" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Edit Item Allocated</h3>
            </div>
            <div class="modal-body mdl-bdy">
				              <form role="form" id="inventory2{{item.id}}" action="">
								  {% csrf_token %}
                                  <input type="hidden" value="{{item.id}}" name="id">
                                  <input type="hidden" value="{{item.part_name}}" name="old_part_name">
                                  <input type="hidden" value="{{item.count}}" name="count_allocated_previous">
                    <div class="form-group">
                        <label class="control-label">Item Name</label>
                        <div>
                            <input disabled type="text" id="{{forloop.counter}}" onblur="fill()" class="form-control input-lg" name="part_name" value="{% if item.part_name %}{{item.part_name}}{% endif %}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Item Description</label>
                        <div>
                            <input disabled type="text" class="form-control input-lg" name="part_description" value="{% if item.part_description %}{{item.part_description}}{% endif %}">
                        </div>
                    </div>
                  <div class="form-group hidden" id="available2">
                        <label class="control-label">Available Count</label>
                        <div>
                            <input type="number" class="form-control input-lg" name="available_count" id="total_count2" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Count Allocated</label>
                        <div>
                            <input type="number"  class="form-control input-lg" name="count" value="{% if item.count %}{{item.count}}{% else %}0{% endif %}">
                        </div>
                    </div>
<!--                    <div class="form-group">-->
<!--                        <label class="control-label">Recieved By</label>-->
<!--                        <div>-->
<!--                            <input type="text" class="form-control input-lg" name="recieved_by" value="{% if item.recieved_by %}{{item.recieved_by}}{% endif %}">-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="form-group">
                        <label class="control-label">Transfer to Project</label>
                        <div>
                            <select class="form-control input-lg" name="project" >
                                <option disabled selected value> -- select a project --</option>
                                {% for project in projects %}
                                <option value="{{project.id}}" value="{{project.name}}" {% if project.name == item.project.name %}selected {% endif %}>{{project.name}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Transfer to Team</label>
                        <div>
                            <select class="form-control input-lg" id="team_name2" name="team" onchange="dropdown2()">
                                <option  disabled selected value> -- select a team --</option>
                                {% for team in teams %}
                                <option  value="{{team.name}}" {% if team.name == item.team.name %}selected {% endif %}>{{team.name}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group" id="dropdown_class">
                        <label class="control-label">Transfer to Person</label>
                        <div>
                            <select class="form-control input-lg" name="person">
                                <option disabled selected value> -- select person --</option>
                                {% if item.team.name == "Mechanical" %}
                                {% for user in mechanical_users %}
                                 <option  value="{{user.id}}" {% if user.first_name == item.person.first_name %}selected {% endif %}>{{user.first_name}}
                                </option>
                                {% endfor %}
                                {% endif %}
                                {% if item.team.name == "Electronic" %}
                                {% for user in electronic_users %}
                                 <option  value="{{user.id}}" {% if user.first_name == item.person.first_name %}selected {% endif %}>{{user.first_name}}
                                </option>
                                {% endfor %}
                                {% endif %}
                                {% if item.team.name == "Software" %}
                                {% for user in software_users %}
                                 <option  value="{{user.id}}" {% if user.first_name == item.person.first_name %}selected {% endif %}>{{user.first_name}}
                                </option>
                                {% endfor %}
                                {% endif %}
                                {% if item.team.name == "Production" %}
                                {% for user in production_users %}
                                <option  value="{{user.id}}" {% if user.first_name == item.person.first_name %}selected {% endif %}>{{user.first_name}}
                                </option>
                                {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group mechanical hidden">
                        <label class="control-label">Transfer to Person</label>
                        <div>
                            <select class="form-control input-lg" name="person">
                                <option disabled selected value> -- select person --</option>
                                {% for user in mechanical_users %}
                                <option value="{{user.id}}">{{user.first_name}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group electronics hidden">
                        <label class="control-label">Transfer to Person</label>
                        <div>
                            <select class="form-control input-lg" name="person">
                                <option disabled selected value> -- select person --</option>
                                {% for user in electronics_users %}
                                <option value="{{user.id}}">{{user.first_name}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group software hidden">
                        <label class="control-label">Transfer to Person</label>
                        <div>
                            <select class="form-control input-lg" name="person">
                                <option disabled selected value> -- select person --</option>
                                {% for user in software_users %}
                                <option value="{{user.id}}">{{user.first_name}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group production hidden">
                        <label class="control-label">Transfer to Person</label>
                        <div>
                            <select class="form-control input-lg" name="person">
                                <option disabled selected value> -- select person --</option>
                                {% for user in production_users %}
                                <option value="{{user.id}}">{{user.first_name}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Transferred on</label>
                        <div>
                            <input type="date" class="form-control input-lg" name="recieved_date" value="{% if item.recieved_date %}{{item.recieved_date|date:'Y-m-d'}}{% endif %}">
                        </div>
                    </div>
<!--                     <div class="form-group">-->
<!--                        <label class="control-label">Project</label>-->
<!--                        <div>-->
<!--                            <input type="text" class="form-control input-lg" name="project" value="{% if item.project %}{{item.project}}{% endif %}">-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="form-group">
                        <div>
                            <button type="submit" class="btn clr">
                                UPDATE
                            </button>
                             <button type="submit" class="btn clr" data-dismiss="modal">
                                CANCEL
                            </button>
                        </div>
                    </div>
								  <div class="error2"></div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
{% endfor %}
{% for item in items_list %}
<div id="deleteProduct_{{item.id}}" class="modal fade">
	<div class="modal-dialog modal-confirm">
		<div class="modal-content">
			<div class="modal-header">
				<div class="icon-box">
				</div>
				<h4 class="modal-title">Are you sure?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body">
				<p>Do you really want to delete these product? This process cannot be undone.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-danger" onclick="deleteProduct('{{item.id}}')">Delete</button>
			</div>
		</div>
	</div>
</div>
{% endfor %}


<script>
$("#inventory1").submit(function(e) {
       e.preventDefault();
       var formData = new FormData(this);
       $.ajax({
       url : "{% url 'add-product-out' %}",
       type : "POST",
       data : formData,
       dataType:'json',
       contentType: false,
       processData: false,
           success : function(data) {
           console.log(data);
               if (data.result != "success")
                {
                 response = data.result;
                 $('.error1').html(response);
               }
               else{
               window.location.href = '{% url 'product-out' %}';
                   }

            },
           // handle a non-successful response
           error : function(xhr,errmsg,errors) {
           console.log(xhr.status + ": " + xhr.responseText);
           console.log(errors)// provide a bit more info about the error to the console
           }
       });
   });


function deleteProduct(id){
      try {
          var xhr = new XMLHttpRequest();
          xhr.onreadystatechange = function() {
               if (this.readyState == 4 && this.status == 200) {
                     location.reload();
              }
           };
          xhr.open('GET', "/delete-product-out/?id="+id, true);
          xhr.send()
       }
       catch(error) {
         alert(error);
       }

   }

{% for item in items_list %}
$("#inventory2{{item.id}}").submit(function(e) {
       e.preventDefault();
       var formData = new FormData(this);
       $.ajax({
       url : "{% url 'add-product-out' %}",
       type : "POST",
       data : formData,
       dataType:'json',
       contentType: false,
       processData: false,
           success : function(data) {
           console.log(data);
               if (data.result != "success")
                {
                 response = data.result;
                 $('.error2').html(response);
               }
               else{
               window.location.href = '{% url 'product-out' %}';
                   }

            },
           // handle a non-successful response
           error : function(xhr,errmsg,errors) {
           console.log(xhr.status + ": " + xhr.responseText);
           console.log(errors)// provide a bit more info about the error to the console
           }
       });
   });

{% endfor %}

function fill()
{
    var input = $("#part_name").val();
    {% for item in overall %}
    if ('{{item.part_name}}' == input)
    {
    $("#total_count").val('{{item.total_count}}');
    $("#part_description").val('{{item.part_description}}')
    $("#available").removeClass('hidden');
    return;
    }
    else{
        $("#available").addClass('hidden');
        }
    {% endfor %}

}

function complete()
{
 console.log("aaaaaaaaaa");
 var input = $("#part_description").val();
 console.log(input);
 {% for item in overall %}
 if ('{{item.part_description}}' == input)
 {
 $("#total_count").val('{{item.total_count}}');
 $("#part_name").val('{{item.part_name}}');
 $("#available").removeClass('hidden');
 return;
    }
    else{
        $("#available").addClass('hidden');
        }
    {% endfor %}

    }




function dropdown()
{
    var input = $("#team_name").val();
    alert(input);
     if (input == "Mechanical"){
    $(".mechanical").removeClass("hidden");
    $(".electronics").addClass("hidden");
    $(".software").addClass("hidden");
    $(".production").addClass("hidden");
    }
    if (input == "Electronics"){
    $(".mechanical").addClass("hidden");
    $(".electronics").removeClass("hidden");
    $(".software").addClass("hidden");
    $(".production").addClass("hidden");
    }
    if (input == "Software"){
    $(".mechanical").addClass("hidden");
    $(".electronics").addClass("hidden");
    $(".software").removeClass("hidden");
    $(".production").addClass("hidden");
    }
    if (input == "Production"){
     $(".mechanical").addClass("hidden");
    $(".electronics").addClass("hidden");
    $(".software").addClass("hidden");
    $(".production").removeClass("hidden");
    }
}
function dropdown2()
{
    $("#dropdown_class").addClass("hidden");
    var input = $("#team_name2").val();
    alert(input);
    if (input == "Mechanical"){
    $(".mechanical").removeClass("hidden");
    $(".electronics").addClass("hidden");
    $(".software").addClass("hidden");
    $(".production").addClass("hidden");
    }
    if (input == "Electronics"){
    $(".mechanical").addClass("hidden");
    $(".electronics").removeClass("hidden");
    $(".software").addClass("hidden");
    $(".production").addClass("hidden");
    }
    if (input == "Software"){
    $(".mechanical").addClass("hidden");
    $(".electronics").addClass("hidden");
    $(".software").removeClass("hidden");
    $(".production").addClass("hidden");
    }
    if (input == "Production"){
     $(".mechanical").addClass("hidden");
    $(".electronics").addClass("hidden");
    $(".software").addClass("hidden");
    $(".production").removeClass("hidden");
    }
}

</script>
<script type="text/javascript">
			$(document).ready(function() {
    				$('#example').DataTable({
        "aLengthMenu": [[25, 50, 75, -1], [25, 50, 75, "All"]],
        "iDisplayLength": 25
    });
               {% if request.user.is_superuser %}
					$('.dataTables_paginate').prepend('<button class="btn pd" id="add-button" data-toggle="modal" data-target="#Add_Product_Out" aria-hidden="true">Add</Add></button>')
                    $('.dataTables_info').prepend('<a href="{% url 'export_product_out_xls' %}"><button id="export" class="btn cursor export" >Export</button></a>')
                {% endif %}
			} );
	</script>

{% endblock %}