{% extends 'base.html' %}
{% block content %}
	<script type="text/javascript">
			$(document).ready(function() {
    				$('#example').DataTable({
        "aLengthMenu": [[25, 50, 75, -1], [25, 50, 75, "All"]],
        "iDisplayLength": 25
    });
<!--					$('.dataTables_paginate').prepend('<i class="fa fa-plus cursor" id="add-button" data-toggle="modal" data-target="#Add_Product_Out" aria-hidden="true">ADD</i>')-->
                    $('.dataTables_info').append('<a href="{% url 'export_product_overall_xls' %}"><button id="export" class="m-l cursor" >Export</button></a> ')

			} );
	</script>
	                    <caption><h1 class="header_text m-top txt-clr">OVERALL INVENTORY</h1></caption>

	<table id="example" class="table table-bordered display" style="width:100%">
    		<thead class="thead-dark">
            		<tr>
				<th>Part Name</th>
				<th>Part Description</th>
                <th>Total Count</th>
                        <th>Bin</th>
                        <th>Remarks</th>
                        <th>Need to purchase?</th>

            		</tr>
        	</thead>
        	{% if items_list %}
        	<tbody>
    		{% for item in items_list %}
		<tr>
        		<td>{{ item.part_name }}</td><td>{% if item.part_description %}{{ item.part_description }}{% endif %}{% if item.stk  %}&{{item.stk}}{% endif %}</td><td>{{ item.total_count }}</td><td>{% if item.bin_location %}{{ item.bin_location }}{% endif %}</td></td><td>{% if item.remarks %}{{ item.remarks }}{% endif %}</td></td><td class="{% if item.total_count < 10 %}yes{% else %}no{% endif %}">{% if item.total_count < 10 %} Yes {% else %} No {% endif %}</td>
        </tr>

	{% empty %}
		</tbody>
		<tfoot>
            		<tr>
				<th>Part Name</th>
				<th>Part Description</th>
                <th>Bin</th>
				<th>Product In Count</th>
				<th>Product Out Count</th>
				<th>Product Purchased Count</th>
                <th>Total Count</th>
            		</tr>
        	</tfoot>
	</table>
    		<p>No details are available.</p>

{% endfor %}


	{% endif %}




{% endblock %}
