{% extends 'index.html' %}
{% load format %}
{% load mathfilters %}
{% block content %}
    <caption><h3 class="header_text">{{project}} BOM</h3></caption>
	<table id="example" class="table table-bordered display" style="width:100%">
    		<thead class="thead-dark">
            		<tr>
				<th>Item Name</th>
				<th>Item Description</th>
				<th>Required Count</th>
				<th>Allocated Count</th>
                <th>Available Count</th>
                <th>Need to purchase</th>
				<th>Actions</th>
            		</tr>
        	</thead>
        	{% if items_list %}
        	<tbody>
    		{% for item in items_list %}
		<tr>
        		<td>{{ item.part_name }}</td>
				<td>{% if item.part_description %}{{ item.part_description }}{% endif %}{% if item.stk  %}&{{item.stk}}{% endif %}</td>
				<td>{{ item.count }}</td>
				<td>{{item.product_out.count}}</td>
				<td>{% if item.available %}{{item.available.total_count}}{% else %}NIL {% endif %}</td>
				<td class="{% if not item.available %}yes{% elif item.available.total_count|add:item.product_out.count < item.count %}yes{% elif item.count > item.available.total_count %}yes{% else %}no{% endif %}">{% if item.available.total_count == 0 and item.product_out %}{{item.count|sub:item.product_out.count}}{% elif not item.available.total_count %}{{item.count}}{% elif item.available.total_count|add:item.product_out.count < item.count %}{{item.product_out.count|adding:item.available.total_count|get_difference:item.count}}{% elif item.count > item.available.total_count %}{{item.count|sub:item.available.total_count}}{% else %} No {% endif %}</td>
				<td><i class="fa fa-pencil-square-o cursor" data-toggle="modal" data-target="#Edit_Bom{{item.id}}" aria-hidden="true"></i><i class="fa fa-trash m-l cursor" data-toggle="modal" data-target="#deleteProduct_{{item.id}}" aria-hidden="true"></i></i></td>

		</tr>

	{% empty %}
		</tbody>
		<tfoot>
            		<tr>
				<th>Item Name</th>
				<th>Item Description</th>
                <th>Available Count</th>
<!--				<th>Product In Count</th>-->
<!--				<th>Product Out Count</th>-->
				<th>Remarks</th>
                <th>Need To Purchase</th>
            		</tr>
        	</tfoot>
	</table>
    		<p>No details are available.</p>

{% endfor %}


	{% endif %}
		<div id="Add_Bom" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Add to Bom List</h3>
            </div>
            <div class="modal-body mdl-bdy">
				              <form role="form" id="inventory1" action="">
								  <input type="hidden" name="project" value="{{project}}">
								  {% csrf_token %}
                     <div class="form-group">
                        <label class="control-label">Item Name</label>
                        <div>
                            <input type="text" class="form-control input-lg" name="part_name" id="part_name" onblur="fill()">
                        </div>
                    </div>
<!--                    <div class="form-group">-->
<!--                        <label class="control-label">Item Description</label>-->
<!--                        <div>-->
<!--                            <input type="text" class="form-control input-lg" name="part_description" value="" id="part_description">-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="form-group">
                        <label class="control-label">Item Description</label>
                        <div>
                            <input type="text" class="form-control input-lg" name="part_description" id="part_description" list="item_descriptions" onchange="complete()">
<!--                                <option disabled selected value> &#45;&#45; select a description &#45;&#45;</option>-->
                            <datalist id="item_descriptions">
                                {% for description in item_descriptions %}
                                <option value="{{description.part_description}}">{{description.part_description}}</option>
                                {% endfor %}
                            </datalist>
                        </div>
                    </div>
                     <div class="form-group hidden" id="available">
                        <label class="control-label">Available Count</label>
                        <div>
                            <input type="number" class="form-control input-lg" name="available_count" id="total_count" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Required Count</label>
                        <div>
                            <input type="number" class="form-control input-lg" name="count" >
                        </div>
                    </div>
					<div class="form-group">
                        <div>
                            <button type="submit" class="btn clr">
                                ADD
                            </button>
                             <button type="submit" class="btn clr" data-dismiss="modal">
                                CANCEL
                            </button>
                        </div>
                    </div>
								  <div class="error1"></div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
	{% for item in items_list %}

	<div id="Edit_Bom{{item.id}}" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Edit BoM List</h3>
            </div>
            <div class="modal-body mdl-bdy">
				              <form role="form" id="inventory2{{item.id}}" action="">
								  {% csrf_token %}
                                  <input type="hidden" value="{{item.id}}" name="id">
                    <div class="form-group">
                        <label class="control-label">Item Name</label>
                        <div>
                            <input type="text" id="{{forloop.counter}}"  class="form-control input-lg" name="part_name" value="{% if item.part_name %}{{item.part_name}}{% endif %}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Item Description</label>
                        <div>
                            <input type="text" class="form-control input-lg" name="part_description" value="{% if item.part_description %}{{item.part_description}}{% endif %}">
                        </div>
                    </div>
                    <div class="form-group" id="available2">
                        <label class="control-label">Available Count</label>
                        <div>
                            <input type="number" value="{{item.available.total_count}}" class="form-control input-lg" name="available_count" id="total_count2" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Required Count</label>
                        <div>
                            <input type="number"  class="form-control input-lg" name="count" value="{% if item.count %}{{item.count}}{% else %}0{% endif %}">
                        </div>
                    </div>
<!--                    <div class="form-group">-->
<!--                        <label class="control-label">Recieved By</label>-->
<!--                        <div>-->
<!--                            <input type="text" class="form-control input-lg" name="recieved_by" value="{% if item.recieved_by %}{{item.recieved_by}}{% endif %}">-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="form-group">
                        <div>
                            <button type="submit" class="btn clr">
                                Update
                            </button>
                             <button type="submit" class="btn clr" data-dismiss="modal">
                                Cancel
                            </button>
                        </div>
                    </div>
								  <div class="error2"></div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
{% endfor %}

{% for item in items_list %}
<div id="deleteProduct_{{item.id}}" class="modal fade">
	<div class="modal-dialog modal-confirm">
		<div class="modal-content">
			<div class="modal-header">
				<div class="icon-box">
				</div>
				<h4 class="modal-title">Are you sure?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body">
				<p>Do you really want to delete these product? This process cannot be undone.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-danger" onclick="deleteProduct('{{item.id}}')">Delete</button>
			</div>
		</div>
	</div>
</div>
{% endfor %}

<script type="text/javascript">
			$(document).ready(function() {
    				$('#example').DataTable({
        "aLengthMenu": [[25, 50, 75, -1], [25, 50, 75, "All"]],
        "iDisplayLength": 25
    });
					$('.dataTables_paginate').prepend('<button class="btn pd" id="add-button" data-toggle="modal" data-target="#Add_Bom" aria-hidden="true">Add</Add></button>')
                    $('.dataTables_info').prepend('<a href="{% url 'export_bom_list_xls'  %}?project={{project}}"><button id="export" class="btn cursor export" >Export</button></a>')

			} );

$("#inventory1").submit(function(e) {
       e.preventDefault();
       var formData = new FormData(this);
       $.ajax({
       url : "{% url 'add-bom' %}",
       type : "POST",
       data : formData,
       dataType:'json',
       contentType: false,
       processData: false,
           success : function(data) {
           console.log(data);
               if (data.result != "success")
                {
                 response = data.result;
                 $('.error1').html(response);
               }
               else{
				window.location.reload();
				}

            },
           // handle a non-successful response
           error : function(xhr,errmsg,errors) {
           console.log(xhr.status + ": " + xhr.responseText);
           console.log(errors)// provide a bit more info about the error to the console
           }
       });
   });

{% for item in items_list %}
$("#inventory2{{item.id}}").submit(function(e) {
       e.preventDefault();
       var formData = new FormData(this);
       $.ajax({
       url : "{% url 'add-bom' %}",
       type : "POST",
       data : formData,
       dataType:'json',
       contentType: false,
       processData: false,
           success : function(data) {
           console.log(data);
               if (data.result != "success")
                {
                 response = data.result;
                 $('.error2').html(response);
               }
               else{
               location.reload();
                   }

            },
           // handle a non-successful response
           error : function(xhr,errmsg,errors) {
           console.log(xhr.status + ": " + xhr.responseText);
           console.log(errors)// provide a bit more info about the error to the console
           }
       });
   });
{% endfor %}

function fill()
{
    var input = $("#part_name").val();
    {% for item in overall %}
    if ('{{item.part_name}}' == input)
    {
    $("#total_count").val('{{item.total_count}}');
    $("#part_description").val('{{item.part_description}}')
    $("#available").removeClass('hidden');
    return;
    }
    else{
        $("#available").addClass('hidden');
        }
    {% endfor %}

}

function deleteProduct(id){
      try {
          var xhr = new XMLHttpRequest();
          xhr.onreadystatechange = function() {
               if (this.readyState == 4 && this.status == 200) {
                     location.reload();
              }
           };
          xhr.open('GET', "/delete-bom/?id="+id, true);
          xhr.send()
       }
       catch(error) {
         alert(error);
       }

   }

function complete()
{
 console.log("aaaaaaaaaa");
 var input = $("#part_description").val();
 console.log(input);
 {% for item in overall %}
 if ('{{item.part_description}}' == input)
 {
 $("#total_count").val('{{item.total_count}}');
 $("#part_name").val('{{item.part_name}}');
 $("#available").removeClass('hidden');
 return;
    }
    else{
        $("#available").addClass('hidden');
        }
    {% endfor %}

    }


</script>
{% endblock %}
