{% extends 'base.html' %}
{% block content %}
	<script type="text/javascript">
			$(document).ready(function() {
    				$('#example').DataTable({
        "aLengthMenu": [[25, 50, 75, -1], [25, 50, 75, "All"]],
        "iDisplayLength": 25
    });         {% if request.user.is_superuser %}
					$('.dataTables_paginate').prepend('<i class="fa fa-plus cursor" id="add-button" data-toggle="modal" data-target="#Add_Inventory_Return" aria-hidden="true">ADD</i>')
                    $('.dataTables_info').append('<a href="{% url 'export_product_returned_xls' %}"><button id="export" class="m-l cursor" >Export</button></a> ')
                {% endif %}
			} );
	</script>

     <form id="upload" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" class="hidden" id="file_upload" name="file" onchange="submit_file()">
    </form>
                        <caption><h1 class="header_text m-top">INVENTORY RETURNED</h1></caption>

	<table id="example" class="table table-bordered display" style="width:100%">
    		<thead class="thead-dark">
            		<tr>
                        <th>SL.NO</th>
				<th>Part Name</th>
				<th>Part Description</th>
				<th>Count Returned</th>
                <th>Returned By</th>
                <th>Returned Date</th>
                        <th>Project</th>
                        {% if request.user.is_superuser %}
                <th>Actions</th>
                        {% endif %}
            		</tr>
        	</thead>
        	{% if items_list %}
        	<tbody>
    		{% for item in items_list %}
		<tr>
        		<td>{{forloop.counter}}</td><td>{{ item.part_name }}</td><td>{% if item.part_description %}{{ item.part_description }}{% endif %}</td><td>{{ item.count_returned }}</td><td>{{item.returned_by}}</td><td>{{item.returned_date}}</td><td>{{item.project}}</td>{% if request.user.is_superuser %}<td><i class="fa fa-pencil-square-o cursor" data-toggle="modal" data-target="#Edit_Inventory_Return{{item.id}}" aria-hidden="true"></i><i class="fa fa-trash m-l cursor" data-toggle="modal" data-target="#deleteProduct_{{item.id}}" aria-hidden="true"></i></i>

</td>{% endif %}</a>
	  	</tr>

	{% empty %}
		</tbody>
		<tfoot>
            		<tr>
                <th>SL.NO</th>
				<th>Part Name</th>
				<th>Part Description</th>
				<th>Count Returned</th>
                <th>Returned By</th>
                <th>Returned Date</th>
                <th>Project</th>
                        {% if request.user.is_superuser %}
                <th>Actions</th>
                        {% endif %}
		</tr>
        	</tfoot>
	</table>
    		<p>No details are available.</p>

{% endfor %}


	{% endif %}



	<div id="Add_Inventory_Return" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">ADD INVENTORY RETURN</h1>
            </div>
            <div class="modal-body">
				              <form role="form" id="inventory1" action="">
								  {% csrf_token %}
                    <input type="hidden" name="_token" value="">
                    <div class="form-group">
                        <label class="control-label">Part Name</label>
                        <div>
                            <input type="text" class="form-control input-lg" name="part_name" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Part Description</label>
                        <div>
                            <input type="text" class="form-control input-lg" name="part_description" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Count Returned</label>
                        <div>
                            <input type="number" class="form-control input-lg" name="count">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Returned By</label>
                        <div>
                            <input type="text" class="form-control input-lg" name="returned_by">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Returned Date</label>
                        <div>
                            <input type="date" class="form-control input-lg" name="returned_date">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Project</label>
                        <div>
                            <input type="text" class="form-control input-lg" name="project">
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <button type="submit" class="btn btn-success">
                                ADD
                            </button>
                            <button type="submit" class="btn btn-success" data-dismiss="modal">
                                cancel
                            </button>
                        </div>
                    </div>
								  <div class="error1"></div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
{% for item in items_list %}

	<div id="Edit_Inventory_Return{{item.id}}" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">EDIT INVENTORY RETURN</h1>
            </div>
            <div class="modal-body">
				              <form role="form" id="inventory2{{item.id}}">
								  {% csrf_token %}
                                  <input type="hidden" name="id" value="{{item.id}}">
                    <div class="form-group">
                        <label class="control-label">Part Name</label>
                        <div>
                            <input type="text" class="form-control input-lg" name="part_name" value="{% if item.part_description %}{{item.part_name}}{% endif %}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Part Description</label>
                        <div>
                            <input type="text" class="form-control input-lg" name="part_description" value="{% if item.part_description %}{{item.part_description}}{% endif %}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Count Returned</label>
                        <div>
                            <input type="number" class="form-control input-lg" name="count" value="{% if item.count_returned %}{{item.count_returned}}{% endif %}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Returned By</label>
                        <div>
                            <input type="text" class="form-control input-lg" name="returned_by" value="{% if item.returned_by %}{{item.returned_by}}{% endif %}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Returned Date</label>
                        <div>
                            <input type="date" class="form-control input-lg" name="returned_date" value="{% if item.returned_date %}{{item.returned_date | date:'Y-m-d'}}{% endif %}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Project</label>
                        <div>
                            <input type="text" class="form-control input-lg" name="project" value="{% if item.project %}{{item.project}}{% endif %}">
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <button type="submit" class="btn btn-success">
                                CHANGE
                            </button>
                            <button type="submit" class="btn btn-success" data-dismiss="modal">
                                CANCEL
                            </button>
                        </div>
                    </div>
								  <div class="error2"></div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
{% endfor %}

{% for item in items_list %}
<div id="deleteProduct_{{item.id}}" class="modal fade">
	<div class="modal-dialog modal-confirm">
		<div class="modal-content">
			<div class="modal-header">
				<div class="icon-box">
				</div>
				<h4 class="modal-title">Are you sure?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body">
				<p>Do you really want to delete these product? This process cannot be undone.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-danger" onclick="deleteProduct('{{item.id}}')">Delete</button>
			</div>
		</div>
	</div>
</div>
{% endfor %}

<script>



$("#inventory1").submit(function(e) {
       e.preventDefault();
       var formData = new FormData(this);
       $.ajax({
       url : "{% url 'add-inventory-return' %}",
       type : "POST",
       data : formData,
       dataType:'json',
       contentType: false,
       processData: false,
           success : function(data) {
           console.log(data);
               if (data.result != "success")
                {
                 response = data.result;
                 $('.error1').html(response);
               }
               else{
               window.location.href = '{% url 'returned' %}';
                   }

            },
           // handle a non-successful response
           error : function(xhr,errmsg,errors) {
           console.log(xhr.status + ": " + xhr.responseText);
           console.log(errors)// provide a bit more info about the error to the console
           }
       });
   });


function deleteProduct(id){
      try {
          var xhr = new XMLHttpRequest();
          xhr.onreadystatechange = function() {
               if (this.readyState == 4 && this.status == 200) {
                     location.reload();
              }
           };
          xhr.open('GET', "/delete-inventory-return/?id="+id, true);
          xhr.send()
       }
       catch(error) {
         alert(error);
       }

   }

{% for item in items_list %}
$("#inventory2{{item.id}}").submit(function(e) {
       e.preventDefault();
       var formData = new FormData(this);
       $.ajax({
       url : "{% url 'add-inventory-return' %}",
       type : "POST",
       data : formData,
       dataType:'json',
       contentType: false,
       processData: false,
           success : function(data) {
           console.log(data);
               if (data.result != "success")
                {
                 response = data.result;
                 $('.error2').html(response);
               }
               else{
               window.location.href = '{% url 'returned' %}';
                   }

            },
           // handle a non-successful response
           error : function(xhr,errmsg,errors) {
           console.log(xhr.status + ": " + xhr.responseText);
           console.log(errors)// provide a bit more info about the error to the console
           }
       });
   });

{% endfor %}






</script>

{% endblock %}
