﻿.ul-color{
color:black !important;
}

.menus{
background-color:#fff !important;
width:225px !important;
}
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate{
color:000;
}
.table .thead-dark th {
    color: #fff;
    background-color: #04acec;
    border-color: #32383e;
}

.buttons{
font-family: "Open Sans",Arial,sans-serif !important;
border: 1px solid transparent;
cursor:pointer;
box-sizing: border-box;
    min-width: 1.5em;
    padding: 0.5em 1em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
}
.buttons:hover {
border: 2px solid #000000 !important;
background-color:#04acec;
border-radius:2px;
}
.pd{
padding:0.5em 1em !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    cursor: pointer;
    border: 1px solid transparent;
    background:dark-grey;
    box-shadow: none;
    color: black !important;
}
.dataTables_wrapper:hover .dataTables_paginate.hover .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate:hover .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
background-color:#04acec;
border-radius:0.25rem;
}
.dataTables_wrapper .dataTables_filter input {
border:2px solid;
padding-right:10px;
}
label{
padding:10px 10px 0 10px !important;
}
table{
padding:0px 10px 0 10px !important;
}
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate{
padding-left:10px !important;
}
.fa-trash{
color:red !important;
}
.fl-right{
float:right !important;
}
.export{
margin-right:10px !important;
}
.btn-info{
background-color:#04acec !important;
}
.btn:hover{
background-color:#04acec !important;
}
.next{
margin-right:10px !important;
}
.header_text{
color:black;
margin-top:30px;
}
.logout{
margin-top: 9px;
margin-right: 5px;
}
.ml-left{
margin-left:-100px !important;
}
.logo{
width:150px !important;
}
[type="checkbox"]
{
    vertical-align:middle;
}
.heading:hover{
color:black !important;
}